<!-- <div class="-cols-12 background-primary font-white flex p-2">
    <h1 class="font-white fs-3">Discussion Forum</h1>
    <button class="background-transparent ms-4">Tags</button>
    <button class="background-transparent ms-4">Users</button>
</div> -->
<div class="w-full header-main">
    <div class="w-full p-3 text-center bg-primary position-relative">
        <!-- <div class="w-fullmd:grid-cols-2 pe-md-3">
            <nz-select class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="All Categories"
                [(ngModel)]="selectedCategory">
                <nz-option nzLabel="Help me!" nzValue="Help me!"></nz-option>
                <nz-option nzLabel="Share an Idea" nzValue="Share an Idea"></nz-option>
            </nz-select>
        </div>
        <div class="w-fullmd:grid-cols-2 pe-md-3">
            <nz-select class="w-full" nzShowSearch nzAllowClear nzPlaceHolder="All Tags" [(ngModel)]="selectedTag">
                <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
            </nz-select>
        </div> -->

        <!-- <div class="w-fullmd:grid-cols-5 pe-md-3 flex justify-content-between">
            <button class="col-3 me-1 menu-buttons">Latest</button>
            <button class="col-2 me-1 menu-buttons">Top</button>
            <button class="col-3 me-1 menu-buttons">Bookmark</button>
            <button class="col-3 me-1 menu-buttons">My Posts</button>
        </div> -->

        <!-- <div class="w-fullmd:grid-cols-3 ms-auto">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" [(ngModel)]="dataService.searchedThread" nz-input placeholder="Search Threads" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
        </div> -->

        <!-- <button (click)="toggleSidebar()" class="d-block d-md-none position-absolute burger-menu">
            <span nz-icon nzType="menu" nzTheme="outline"></span>
        </button> -->
        <h2 class="m-0 text-white">Discussion Forum</h2>
        

    </div>
</div>