.background-primary{
    background-color: rgb(0, 140, 255);
}
.menu-buttons{
    background: #0000008f;
    border: none;
    color: white;
    border-radius: 4px;
}
*{
    box-sizing: border-box;
}
.header-main{
    position: fixed;
    top: 0px;
    z-index: 999;
}
.burger-menu{
    left: 15px;
    background: none;
    color: white;
    border: none;
    font-size: 18px;
}